Web.config
Web.Debug.config
Web.Debug.config
Web.Release.config
obj/Debug/
obj/Release/
WeChat.csproj
WeChat.csproj.user
bin/WeChat.dll
bin/WeChat.dll.config
bin/WeChat.pdb
Log/
TempFile/
Properties/Publishprofiles/